
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/error-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Error {{ error.code }}</h1>
            <h3>{{ error.name }}</h3>
            <span class="subheading">{{ error.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% include "footer.html" %}
{% endblock %}